body {
  background-color: #0d1117;
  color: #e6edf3;
  font-family: 'Segoe UI', sans-serif;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card-img-top {
  height: 220px;
  object-fit: cover;
}

.navbar-brand {
  color: #0dcaf0 !important;
  font-weight: bold;
}

aside {
  background-color: #161b22;
  padding: 20px;
  border-radius: 10px;
  
}

footer {
  text-align: center;
  padding: 20px;
  color: #aaa;
}

.carousel-item img {
  height: 80vh;
  object-fit: cover;
  filter: brightness(70%);
}

.carousel-caption {
  bottom: 20%;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

.carousel-caption h2 {
  font-size: 2.8rem;
}

.carousel-caption p {
  font-size: 1.2rem;
}
